<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>216946723715-o1nutk6486a0isvdq4moc2gv161oup0c.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.216946723715-o1nutk6486a0isvdq4moc2gv161oup0c</string>
	<key>API_KEY</key>
	<string>AIzaSyCT0GPuer50HEoQxgJZlP35IkARe8uhqb0</string>
	<key>GCM_SENDER_ID</key>
	<string>216946723715</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.udacity.greenthumb</string>
	<key>PROJECT_ID</key>
	<string>green-thumb-ae08a</string>
	<key>STORAGE_BUCKET</key>
	<string>green-thumb-ae08a.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true/>
	<key>IS_ANALYTICS_ENABLED</key>
	<false/>
	<key>IS_APPINVITE_ENABLED</key>
	<false/>
	<key>IS_GCM_ENABLED</key>
	<true/>
	<key>IS_SIGNIN_ENABLED</key>
	<true/>
	<key>GOOGLE_APP_ID</key>
	<string>1:216946723715:ios:960754ca7f8400c3</string>
	<key>DATABASE_URL</key>
	<string>https://green-thumb-ae08a.firebaseio.com</string>
</dict>
</plist>